<style>
    .loader-body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #151a1e;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .loader {
        --loader-size: 50px;
        --loader-border-size: 4px;
        --loader-border-color: #626d76;
        width: var(--loader-size);
        height: var(--loader-size);
        border: var(--loader-border-size) solid var(--loader-border-color);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        background-color: transparent;
        border-radius: 50%;
        position: relative;
        animation: rotateX 1s infinite linear;
    }

    .loader::before {
        content: "";
        border: var(--loader-border-size) solid var(--loader-border-color);
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        animation: rotateX 0.5s infinite linear reverse;
    }

    @keyframes rotateX {
        from {
            transform: rotateZ(0deg);
        }

        to {
            transform: rotateZ(360deg);
        }
    }
</style>

<div class="loader-body">
    <span class="loader"></span>
</div>
