{{#if user }}
{{!-- TOP HITS --}}
<div>
  <h1>Top Hits</h1>
  <hr />
  <div class="custom_box row">

    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    

  </div> <br />
</div>

{{!-- TOP ALBUMS --}}

<div id="playlist2">
  <h1>Top Albums</h1>
  <hr />
  <div class="custom_box row">

    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>
    <div class="__card">
      <img alt="album art"
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
        class="img-thumbnail" />   
      <a href="#" class="btn" title="Click here">
  <i style="color: #626d76; font-size: 3rem!important; background-color: black; border-radius: 5px; " class="fa-solid fa-circle-play"></i>
</a>
    </div>

  </div> <br />
</div>



{{else}}

<style>
  .login-container {
    background-color: #151a1e;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 40%; /* Default width */
    margin: 0 auto; /* Center the container */
  }
  
  .login-container p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #626d76;
  }
  
  .login-button {
    background-color: #626d76;
    color: #151a1e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .login-button:hover {
    color: #151a1e;
  }
 

  /* Media queries for larger screens */
  @media (min-width: 992px) {
    .login-container {
      width: 30%; /* Adjusted width for larger screens */
    }
  }

  /* Media queries for smaller screens */
  @media (max-width: 768px) {
    .login-container {
      width: 90%;
    }
  }

  /* Media queries for extra-small screens */
  @media (max-width: 576px) {
    .login-container {
      width: 100%;
      padding: 10px;
    }
    
    .login-container p {
      font-size: 16px;
    }
    
    .login-button {
      font-size: 14px;
      padding: 8px 16px;
    }
   
  }
</style>
<br><br><br><br>
<center>
  <div class="login-container">
    <p>Please! Login to listen to your favorite  songs.</p>
    <a href="/login" class="login-button">Login</a>
  </div>
</center>


{{/if}}

<br><br>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script>

$(document).ready(function () {
  fetch("/api/playlists")
  .then((response) => response.json())
  .then((playlists) => {
    // Get the existing cards
    const cards = document.querySelectorAll(".__card");

    // Loop through the playlists and append them to the cards
    playlists.forEach((playlist, index) => {
      const card = cards[index];
      const image = card.querySelector("img");
      const redirect = card.querySelector("a");

      image.src = playlist.images[0].url;
      name.textContent = playlist.name;
      redirect.href = `/playlist/${playlist.id}`;
    });
  })
  .catch((error) => console.error(error));
});

// fetch more playlists for the second section
$(document).ready(function () {
  fetch("/api/albums")
  .then((response) => response.json())
  .then((album) => {
    // Get the existing cards
    const secondCards = document.querySelectorAll("#playlist2 .__card");

    // Loop through the playlists and append them to the cards
    album.forEach((album, index) => {
      const card = secondCards[index];
      const image = card.querySelector("img");
      const redirect = card.querySelector("a");
      name.textContent = album.name.slice(0, 19);
      redirect.href = `/album/${album.id}`;
      if (album.images.length > 0) {
        image.src = album.images[0].url;
      }
      else{
        image.src = "https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930";
      }
    });
  })
  .catch((error) => console.error(error));
});

</script>