<link rel="stylesheet" href="/css/Register.css">
<style>
     
    *{
        transition: none;
    }
    main{
        background-color: #151a1e!important;
    }
    button{
        transition: none;
       
    }
    button:hover{
        transition: none;
    }
   .custom_1{
        background-color: white,
        color: white,
        border: none, 
        border-radius: : 5px, 
        padding: : 10px, 
        width: 100%
    }
    .custom_2{
        background-color: white, 
        color: black, 
        border: none, 
        border-radius: 5px, 
        padding: 10px, 
        width: 100%, 
        margin-top: 0;
    }
    .mr-10{
        margin-right: 10px;
    }
</style>

<br><br><br><br>
<div class="_widget-auto-layout" style="display: flex; justify-content: center; align-items: center; margin-top:0px;">
    
    <section class="c5b56af8f _prompt-box-outer c2d14002d" style="width: calc(var(--spacing)*59)">
        <div class="c83892ad4 cb0e08e4c">
            <div class="c8439017a">
                <header class="c0747f7ef cf92e422b">


                    <img class="c3badb680 c1304753b" id="prompt-logo-center"
                        src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
                        alt='sdas' />


                    <h1 class="cc9990aac c3216fce5">SIGN UP</h1>


                    <div class="cd41f1105 c502a40fe">



                    </div>
                </header>

                <div class="cba4890ae cc94cb3d4">
                    <form method="POST" class="cf017d8ed _form-login-password" action="/register">
                        <div class="c8a0fb02b c025bf04a">
                            <div class="c1a96d1f9">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <div class="input-wrapper _input-wrapper">
                                            <div class="ca2397246 c01269d16 password cffbf2404" data-action-text=""
                                                data-alternate-action-text="">

                                                <input class="input ce09e4a4b c6c12cff0" name="first_name"
                                                    id="first_name" type="text" required autoCapitalize="none"
                                                    spellCheck="false" autoFocus />

                                                <div class="c04048bbd js-required cfe9686c2 ceb3d94f2"
                                                    data-dynamic-label-for="first_name" aria-hidden="true">
                                                    First Name
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-wrapper _input-wrapper">
                                            <div class="ca2397246 c01269d16 password cffbf2404" data-action-text=""
                                                data-alternate-action-text="">

                                                <input class="input ce09e4a4b c6c12cff0" name="last_name" id="last_name"
                                                    type="text" required autoCapitalize="none" spellCheck="false"
                                                    autoFocus />

                                                <div class="c04048bbd js-required cfe9686c2 ceb3d94f2"
                                                    data-dynamic-label-for="last_name" aria-hidden="true">
                                                    Last Name
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-wrapper _input-wrapper">
                                    <div class="ca2397246 c01269d16 password cffbf2404" data-action-text=""
                                        data-alternate-action-text="">

                                        <input class="input ce09e4a4b c6c12cff0" name="email" id="email" type="text"
                                            required autoCapitalize="none" spellCheck="false" autoFocus />

                                        <div class="c04048bbd js-required cfe9686c2 ceb3d94f2"
                                            data-dynamic-label-for="password" aria-hidden="true">
                                            Email
                                        </div>
                                    </div>
                                </div>

                                <div class="input-wrapper _input-wrapper">
                                    <div class="ca2397246 c01269d16 password cffbf2404" data-action-text=""
                                        data-alternate-action-text="">

                                        <input class="input ce09e4a4b c6c12cff0" name="phone" id="phone" type="text"
                                            required autoCapitalize="none" spellCheck="false" autoFocus />

                                        <div class="c04048bbd js-required cfe9686c2 ceb3d94f2"
                                            data-dynamic-label-for="phone" aria-hidden="true">
                                            Phone
                                        </div>
                                    </div>
                                </div>


                                <div class="input-wrapper _input-wrapper">
                                    <div class="ca2397246 c01269d16 password cffbf2404" data-action-text=""
                                        data-alternate-action-text="">

                                        <input class="input ce09e4a4b c6c12cff0" name="password" id="pef"
                                            type="password" required autoComplete="current-password"
                                            autoCapitalize="none" spellCheck="false" autoFocus />

                                        <div class="c04048bbd js-required cfe9686c2 ceb3d94f2"
                                            data-dynamic-label-for="password" aria-hidden="true">
                                            Password
                                        </div>

                                        <button type="button" class="c8fca5323 ulp-button-icon cee1c07cc _button-icon"
                                            data-action="toggle">
                                            <span aria-hidden="true"
                                                class="password-icon-tooltip show-password-tooltip">Show password</span>

                                            <span aria-hidden="true"
                                                class="password-icon-tooltip hide-password-tooltip hide">Hide
                                                password</span>

                                            <span class="screen-reader-only password-toggle-label"
                                                data-label="show-password">Show
                                                password</span>

                                            <span class="screen-reader-only password-toggle-label hide"
                                                data-label="hide-password">Hide
                                                password</span>

                                            <span class="c19882ba6 password js-required" aria-hidden="true"></span>
                                        </button>
                                    </div>


                                </div>

                                <div class="input-wrapper _input-wrapper">
                                    <div class="ca2397246 c01269d16 password cffbf2404" data-action-text=""
                                        data-alternate-action-text="">

                                        <input class="input ce09e4a4b c6c12cff0" name="confirmPassword" id="password"
                                            type="password" required autoComplete="current-password"
                                            autoCapitalize="none" spellCheck="false" autoFocus />

                                        <div class="c04048bbd js-required cfe9686c2 ceb3d94f2"
                                            data-dynamic-label-for="confirm password" aria-hidden="true">
                                            Confirm Password
                                        </div>

                                        <button type="button" class="c8fca5323 ulp-button-icon cee1c07cc _button-icon"
                                            data-action="toggle">
                                            <span aria-hidden="true"
                                                class="password-icon-tooltip show-password-tooltip">Show password</span>

                                            <span aria-hidden="true"
                                                class="password-icon-tooltip hide-password-tooltip hide">Hide
                                                password</span>

                                            <span class="screen-reader-only password-toggle-label"
                                                data-label="show-password">Show
                                                password</span>

                                            <span class="screen-reader-only password-toggle-label hide"
                                                data-label="hide-password">Hide
                                                password</span>

                                            <span class="c19882ba6 password js-required" aria-hidden="true"></span>
                                        </button>
                                    </div>


                                </div>



                            </div>
                        </div>

                        <div class="ce5b0411e">

                            <button type="submit" name="action" value="default"
                                class="c8fca5323 cb6b7c993 cee1c07cc c850d9a60 _button-login-password"
                                style="background-color: #151a1e; color:#626d76;">Register</button>

                        </div>
                    </form>
                    <div class="ulp-alternate-action  _alternate-action __s16nu9">
                        <p class="cc8275a07 c8209dedc c0281221d">Already have an account!
                            <a class="c9e66e30c cc8e77083 hoverr"  href="/login" >LOGIN</a>
                        </p>
                    </div>





                </div>
            </div>
        </div>
    </section>

</div>


<script src="/js/Register.js"></script>