<h1 style="color: 151a1e!important;">Search Song</h1>
<form id="search-form" class="" action="/search" method="POST">
  <div class="input-group" style="flex-wrap: nowrap;">
    <input class="" type="text" id="search-input" name="q" required placeholder="Song title or Artist name..."/>
    <button type="submit" id="submit">Search</button>
  </div>
</form>
<br>

<div class="table" id="playlist-table-body" style="visibility: hidden;">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td id="id"></td>
        <td id="name"><button id="list_play" data-track-id="" style="text-align: left;">
                            <img class="rounded-4" src="{{this.image}}" alt="sa" width="40px" height="40px">
                            Name HERE
                    </button>
        </td>
        <td id="artist"></td>
        <td id="album"></td>
        <td id="duration"></td>
      </tr>
    </tbody>
  </table>
</div>

